.series {
  padding: 64px 0;
}

.series__wrap {
  margin-top: 54px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 255px);
  grid-auto-rows: 183px;

}

.series__card1 {
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/seriesPost.png) no-repeat center/cover;
  padding: 96px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  border-radius: 6px;
  grid-row: 2 span;
  grid-column: 4 span;

}

.series__title {
  font-family: var(--CB);
  font-weight: 700;
  font-size: 40px;
  color: var(--white);
}

.series__desc {
  font-family: var(--CR);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.series__card2 {
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/series1.png) no-repeat center/cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 2 span;
  grid-row: 2 span;
  gap: 20px;
}

.series__card-icon {
  font-size: 40px;
  color: var(--white);
}

.series__card3 {
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/series2.png) no-repeat center/cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.series__card4 {
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/series3.png) no-repeat center/cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.series__card5 {
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/series4.png) no-repeat center/cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.series__card6 {
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/series5.png) no-repeat center/cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.series__title1 {
  font-family: var(--CB);
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}